<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Yum</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     {% load static %}
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

     <div class="container-fluid bg-dark" id="container" >
          <div>
          <nav class="navbar navbar-expand-lg navbar-dark bg-danger justify-content-center">
               <h1>YUM!</h1>
                    <ul class="navbar-nav nav">
                         <li class="nav-item active">
                         <a class="nav-link" href="/login">Log in <span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                         <a class="nav-link" href="/signup">Sign Up</a>
                         </li>
                    </ul>
          </nav>
          </div>  

          <div class="search bg-danger">
               <nav class="navbar navbar-light bg-secondary justify-content-center">
                    <form class="form-inline" action="/api" method="post">
                         {% csrf_token %}
                         <input class="form-control mr-sm-2" type="text" placeholder="Search" name="zip_code" aria-label="Enter Zip Code">
                         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">City</button>
                    </form>
               </nav>
          </div>
          <div>
               {% if messages %} {% for msg in messages %}
               <h4 class="text-danger text-center">{{ msg }}</h4>
               {% endfor %} {% endif %}

               <h1 class= "text-center text-white">List of Restaurants</h1></div>
               <div class="row justify-content-center">
                    {% for i in restaurant_data%}
                         <div class="col-sm-4 offset-md-1 bg-danger d-flex">
                              <!-- this  -->
                              <div class="card" style="width: 18rem;">
                                   <img class="card-img-top" src="{{ i.image_url}}" alt="Card image cap">
                                   <div class="card-body ">
                                   <h4 class="card-title card-body"> {{ i.name}}</h4>
                                   <p class="card-text"><p class="text-success">Location:</p>{{ i.location.address1}} {{ i.location.city}}, {{ i.location.zip}} {{ i.location.state}}</p>
                                   <p class="card-text"><p class="text-success">Phone:</p>{{ i.phone}}</p>
                                   <p class="card-text text-danger">Ratings: {{ i.rating}} </p>
                                   <form action="/must_be_looged">
                                        {% csrf_token %}
                                   <a href="/must_be_looged" class="btn btn-outline-success">Comment</a>
                                   <a href="/must_be_looged" class="btn btn-outline-success">Rate</a>
                                   </form>
                                   </div>
                              <!-- until this -->
                         </div>
               
               </div> 
              <!-- end of the api LOOp -->
              {% endfor%}
     </div>
</body>
</html>